.mailform {
  --mailform-width: 100%;
  --mailform-height: max-content;
  width: var(--mailform-width);
  max-width: 360px;
  height: fit-content;
  margin: auto;
  background-color: var(--color-2);
  opacity: 1;
  backdrop-filter: none;
  border: 2px solid var(--color-10);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.mailform__close_ctn {
  width: 100%;
  height: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.mailform__close {
  width: fit-content;
  height: 2rem;
  cursor: pointer;
  background-color: var(--color-2);
  border: none;
  border-bottom: 2px solid var(--color-10);
  font-size: 1rem;
  margin-left: auto;
}

.mailform__label {
  position: relative;
  width: 100%;
  height: 4rem;
}

.mailform__label--message {
  height: 8rem;
}

.mailform__label--firstname,
.mailform__label--lastname {
  width: 48%;
}

.mailform__label--firstname {
  margin-right: auto;
}

.mailform__input {
  width: 100%;
  height: 2rem;
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--color-10);
  font-size: 1rem;
}

.mailform__input::placeholder {
  /* color: white; */
}

.mailform__input--firstname,
.mailform__input--lastname {
}

.mailform__input--firstname {
  margin-right: auto;
}

.mailform__input--message {
  border: 2px solid var(--color-10);
  border-radius: 5px;
  height: 6rem;
  resize: none;
}

.mailform__limit {
  width: 100%;
  display: inline-block;
  text-align: end;
  position: absolute;
  top: 4.5rem;
  left: 0;
  padding-right: 8px;
}

.mailform__error {
  height: 2rem;
  padding-top: 0.25rem;
  font-size: 1rem;
}

.mailform__button {
  width: 100%;
  height: 2rem;
  border: 2px solid var(--color-10);
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 1rem;
  box-shadow: 1px 4px var(--color-10);
  cursor: pointer;
  margin-bottom: 4px;
}

.mailform__button:active {
  box-shadow: 0px 1px var(--color-10);
  transform: translate3d(1px, 3px, 0);
}

.mailform__button > svg {
  color: var(--color-10);
}

@keyframes shake {
  40% {
    transform: rotateZ(20deg);
  }
  80% {
    transform: rotateZ(-20deg);
  }
}

.mailform__confirmation {
  width: 100%;
  margin-bottom: 2rem;
}

.mailform__confirmation > span {
  width: 100%;
}

@media (hover: hover) {
  .mailform__button:hover > svg {
    animation: shake alternate 2 0.3s;
  }
}
