.switch {
  position: fixed;
  display: flex;
  align-items: center;
  border: none;
  margin: 0 6px 0;
  background-color: transparent;
  cursor: pointer;
}

.switch__toggleCtn {
  position: relative;
  width: 24px;
  height: 15px;
  border: 2px solid var(--color-10);
  border-radius: 15px;
  margin: 0 6px;
}

.switch__slider {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: var(--color-10);
  position: relative;
  top: 2px;
  transition: 0.3s left 0.05s ease-in-out;
}

.switch[data-desc='fr'] > .switch__toggleCtn > .switch__slider {
  left: 2px;
}

.switch[data-desc='en'] > .switch__toggleCtn > .switch__slider {
  left: 11px;
}

@media (hover: hover) {
  .switch {
    transition: transform 166ms ease-out;
  }
  .switch:hover {
    transform: scale3d(103%, 103%, 103%);
  }
}
