@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,700;1,400;1,700&display=swap');

:root {
  --color-1: #000000;
  --color-2: #333333;
  --color-3: #4d4d4d;
  --color-4: #663399;
  --color-5: #003300;
  --color-6: #660000;
  --color-7: #00ffff;
  --color-8: #ffff00;
  --color-9: #ff9900;
  --color-10: #ff0066;
  --color-11: #ff0099;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu Mono';
}

html {
  overflow-y: hidden;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: var(--color-1);
  color: white;
  font-weight: 500;
  letter-spacing: 0.075rem;
  font-size: 1rem;
}

main {
  width: calc(100vw - 2.5rem);
  margin-left: 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.page {
  width: 100%;
  overflow: hidden;
  padding-top: 2.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h2 {
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 0.8rem 0;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-decoration: underline;
  margin: 0.4rem 0;
}
